<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block mainCss %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block mainJs %}{% endblock %}
    </body>
</html>
