{% extends 'site/layout.html.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block content %}
    <h1>Une erreur est survenue</h1>
    <a href="{{ path('site_index' )}}">Retour à l'accueil</a>
{% endblock %}