{% extends 'site/layout.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block content %}
    <h1>Accès interdit</h1>
    <a href="{{ path('site_index' )}}">Retour à l'accueil</a>
{% endblock %}