<h1>Bonjour, merci de valider votre adresse email.</h1>

<p>
    Pour confirmer votre adresse email, merci de cliquer sur le lien suivant <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>À bientôt !</p>
